<h2 class="inset content-title"><span class="icon-bug"></span>&nbsp;&nbsp;Bug report</h2>

<div class="outset">
  <h3>Your opinion is (or, better, <i>can be</i> if you're not trolling) valuable. And I need it!</h3>

  <div class="outset-box">
    <p>
      <label for="topic">Topic:</label>
      <select id="topic" name="topic">
        <option value="bug" selected="selected">Bug</option>
        <option value="feature">Feature request</option>
        <option value="iloveyou">I &hearts; you</option>
        <option value="other">Something else</option>
      </select>
    </p>

    <p>
      <h4>Now, tell me what you want to tell me!</h4>
      <textarea name="content" placeholder="I love you so much... I wanna have your babies!"></textarea>
    </p>
  </div>
</div>
