<!DOCTYPE html>
<html>
  <head>
    <title>Pampattitu.de<% if ('undefined' !== typeof title) { %> - <%= title %><% } %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta charset="utf-8" />

    <!-- Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,400italic,700,900" type="text/css" />

    <!-- CSS stylesheets -->
    <link rel="stylesheet" href="/css/icomoon" />
    <link rel="stylesheet" href="/css/pmp.common" />
    <link rel="stylesheet" href="/css/pmp.grid" />
    <link rel="stylesheet" href="/css/pmp" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/favicon" />

    <!-- Inline styles, for pages with specific styles -->
    <% if ('undefined' !== typeof inlineStyles) {
    for (var i = 0 ; inlineStyles.length > i ; ++i) {
    var inlineStyle = inlineStyles[i]; %>
    <link rel="stylesheet" href="/css/inline/<%= inlineStyle %>" />
    <% } %>
    <% } %>
  </head>
  <body>
    <!-- Main page tag -->
    <div id="pmp-page" class="page">
      <!-- Main menu -->
      <div class="button-menu">
        <div class="container">
          <div class="grid-12">
            <div class="cell-3"><a href="/" class="btn menu-btn"><span class="icon-home"></span>&nbsp;&nbsp;Home</a></div>
            <div class="cell-3"><a href="/articles" class="btn menu-btn"><span class="icon-list"></span>&nbsp;&nbsp;Articles</a></div>
            <div class="cell-3"><a href="/search" class="btn menu-btn"><span class="icon-search"></span>&nbsp;&nbsp;Search</a></div>
            <div class="cell-3"><a href="/user/Pampa" class="btn menu-btn"><span class="icon-user"></span>&nbsp;&nbsp;About</a></div>
            <div class="clear"></div>
          </div>
        </div>
      </div>

      <!-- Page contents -->
      <div id="pmp-content" class="page-content">
	<% if ('undefined' !== typeof contentPath) { %>
	<% include contentPath %>
	<% } %>
      </div>

      <!-- Page footer -->
      <div id="pmp-footer" class="footer">
        <p>
          Made by <a href="/user/Pampa">Guillaume <span style="font-size:1.1em">"Pampa"</span> Delahodde</a>, no rights reserved.<wbr /> Like... at all.
        </p>
      </div>
    </div>

    <!-- JS scripts -->
    <script type="application/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>
  </body>
</html>
