<!DOCTYPE html>
<html>
  <head>
    <title>Pampattitu.de<% if ('undefined' !== typeof title) { %> - <%= title %><% } %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta charset="utf-8" />

    <!-- CSS stylesheets -->
    <style>
      .preload * {
          /*-webkit-transition: none !important; -moz-transition: none !important; -ms-transition: none !important; -o-transition: none !important; */
          transition: none !important;
      }
    </style>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" />
    <!-- <link rel="stylesheet" href="/css/pmp.common" />
    <link rel="stylesheet" href="/css/pmp" /> -->
    <link rel="stylesheet" href="/css/pmp.grid" />
    <link rel="stylesheet" href="/css/icomoon" />

    <!-- Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,400italic,700,900" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Inconsolata:400,700" type="text/css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/favicon" />

    <!-- Inline styles, for pages with specific styles -->
    <% if ('undefined' !== typeof inlineStyles) {
    for (var i = 0 ; inlineStyles.length > i ; ++i) {
    var inlineStyle = inlineStyles[i]; %>
    <link rel="stylesheet" href="<%= inlineStyle %>" />
    <% } %>
    <% } %>
  </head>
  <body class="preload">
    <!-- Main page tag -->
    <div id="pmp-page" class="page">
      <% include buttonMenu %>

      <div id="pmp-content" class="page-content">
        <!-- Content -->
        <!-- Alerts -->
        <div class="alert-menu">
          <% if ('undefined' !== typeof alerts) {
	     for (var i = 0 ; alerts.length > i ; ++i) {
          var alert = alerts[i]; %>
          <div class="alert alert-<%= alert.type %>">
	    <button type="button" class="btn btn-red close">&times;</button>
	    <%= alert.content %>
          </div>
          <% }
	     } %>
        </div>
        <!-- !Alerts -->

	<% if ('undefined' !== typeof contentPath) { %>
	<% include contentPath %>
	<% } %>
      </div>

      <div class="clear"></div>

      <!-- Page footer -->
      <div id="pmp-footer" class="footer">
        <p>
          Made by <a href="/user/Pampa">Guillaume <span style="font-size:1.1em">"Pampa"</span> Delahodde</a>, no rights reserved.<wbr /> Like... at all.
        </p>
        <% if ('front' == app) { %>
        <p>
          <small><small>Please <a href="/report">leave a report</a>!</small></small>
        </p>
        <% } %>
      </div>
    </div>

    <!-- JS scripts -->
    <script type="application/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <script type="application/javascript" src="/js/konami"></script>

    <!-- Inline scripts, for pages with specific scripts -->
    <% if ('undefined' !== typeof inlineScripts) {
    for (var i = 0 ; inlineScripts.length > i ; ++i) {
    var inlineScript = inlineScripts[i]; %>
    <script type="application/javascript" src="<%= inlineScript %>"></script>
    <% } %>
    <% } %>

    <script type="application/javascript">
      (function() {
          $(document).ready(function() {
              $('body.preload').removeClass('preload');
              <% if ('front' == app) { %>new Konami('http://back.pampattitu.de/');
              <% } else { %>new Konami('http://beta.pampattitu.de/');
              <% } %>
          });
      })();
    </script>
  </body>
</html>
