<!-- User type (content title) -->
<div class="inset">
  <h2 class="inset content-title">
    <span class="icon-user"></span>&nbsp;&nbsp;User profile
  </h2>
</div>

<!-- User data -->
<div class="outset">
  <div class="outset-box">
    <% if ('undefined' !== typeof user) { %>
    <% if ('undefined' !== typeof user.pictureUrl) { %>
    <div style="float:left;padding:8px;padding-right:20px;">
      <img src="<%= user.pictureUrl %>" alt="user picture" style="max-width:6em;float:left;margin-right:0.4em;margin-bottom:0.4em;" />
    </div>
    <% } %>
    <div>
      <h2>
      <% if ('guest' === user.rights) { %>
      <small>Let's call him </small> <%= user.login %>
      <% } else { %>
      <%= user.login %>
      <% } %>

      <small>
      <% if ('admin' === user.rights) { %>
      (<span class="text-red">admin</span>)
      <% } else if ('priviledged' === user.rights) { %>
      (<span class="text-orange">mod</span>)
      <% } else if ('registered' === user.rights) { %>
      (<span class="text-green">user</span>)
      <% } else if ('guest' === user.rights) { %>
      (<span class="text-grey">guest</span>)
      <% } else { %>
      (<span class="text-grey">other</span>)
      <% } %>
      </small>
      </h2>

      <% if ('undefined' !== typeof user.description) { %>
      <div>
        <%- user.description %>
      </div>
      <% } %>
    </div>
    <% } %>
  </div>
</div>

<!-- Top padding from menu -->
<div class="page-section-padding"></div>
