@import 'pmp.define.front';

$body-background-image:         url('/img/background-dark');

// Specific (misc)
$body-text-color:               $black;
$body-background-color:         $white;

$selection-text-color:          $whiter;
$selection-background-color:    $green;

$link-color:                    $green;
$link-hover-color:              $green-hover;

$button-text-color:             $white;
$button-background-color:       $black;
$button-border-color:           $blacker;
$button-hover-background-color: $black;
$button-hover-border-color:     $blacker;

$plate-text-color:              $black;
$plate-background-color:        $white;
$plate-border-color:            $light-grey;

$code-text-color:               $white;
$code-background-color:         $dark-purple;

$tag-text-color:                $white;
$tag-background-color:          $green-border;
$tag-hover-background-color:    $green;

$label-text-color:              $white;
$label-background-color:        $grey;

$thumbnail-text-color:          $black;
$thumbnail-background-color:    $white;
$thumbnail-shadow-color:        $blacker;

$inset-text-color:              $black;
$inset-background-color:        transparent;

$outset-text-color:             $black;
$outset-background-color:       $light-grey;
$outset-shadow-color:           $blacker;

$outset-box-text-color:         $black;
$outset-box-background-color:   $light-light-grey;
$outset-box-shadow-color:       rgba(0, 0, 0, 0.2);

$footer-text-color:             $white;
$footer-background-color:       $black;
$footer-shadow-color:           rgba(0, 0, 0, 0.8);

$content-title-shadow-color:    rgba(0, 0, 0, 0.2);

$alert-danger:          rgb(192, 84, 84);
$alert-warning:         rgb(216, 128, 64);
$alert-success:         rgb(84, 172, 84);
