.page {
    min-width: 300px;
    width: 100%;
    max-width: 1002px;
    position: relative;
    overflow: hidden;

    margin: 0 auto;
    padding: 0;
}
@media only screen and (max-width: 767px) {
    .page {
        margin: 0 auto 3.5em auto;
    }
}


.button-menu {
    position: relative;
    z-index: 40;

    font-size: 1rem;

    box-shadow: 0px 0px 4px 1px black;
}
.button-menu .btn.menu-btn {
    width: 100%;
    height: 2.9em;
    display: block;
    box-sizing: border-box;

    padding: 0.8em 1em;

    color: $menu-button-text-color;
    font-size: 1.2em;
    font-weight: bold;

    background-color: $menu-button-background-color;
    border-bottom-width: 5px;
    border-bottom-color: $menu-button-border-color;
}
.button-menu .btn.menu-btn:hover {
    color: $menu-button-hover-text-color;

    background-color: $menu-button-hover-background-color;
    border-bottom-width: 5px;
    border-bottom-color: $menu-button-hover-border-color;

    box-shadow: inset -1px 0 0 $menu-button-hover-border-color,
    inset 1px 0 0 $menu-button-hover-border-color,
    inset 0 1px 0 $menu-button-hover-border-color;
}

.button-menu .btn.menu-btn.special {
    color: $menu-button-special-text-color;

    background-color: $menu-button-special-background-color;
    border-bottom-color: $menu-button-special-border-color;
}
.button-menu .btn.menu-btn.special:hover {
    color: $menu-button-special-hover-text-color;

    background-color: $menu-button-special-hover-background-color;
    border-bottom-color: $menu-button-special-hover-border-color;

    box-shadow: inset -1px 0 0 $menu-button-special-hover-border-color,
    inset 1px 0 0 $menu-button-special-hover-border-color,
    inset 0 1px 0 $menu-button-special-hover-border-color;
}

.button-menu .plate {
    width: 100%;
    height: 2.9em;
    display: block;
    box-sizing: border-box;

    padding: 0.4em 1em;

    color: $plate-text-color;
    font-size: 1.2em;

    background-color: $plate-background-color;
    border-bottom: 5px solid $plate-border-color;
}

.button-menu .plate.search input {
    height: 2.2rem;
    box-sizing: border-box;

    padding: 0.5em 1em;

    font-size: 0.8em;

    border-right: 0;

    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.button-menu .plate.search button.btn {
    width: 100%;
    height: 2.2rem;
    box-sizing: border-box;

    padding: 0.3em 0;

    color: $search-button-text-color;

    background-color: $search-button-background-color;
    border-color: $search-button-border-color;

    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;

    box-shadow: inset -1px 0 0 $search-button-border-color,
    inset 1px 0 0 $search-button-border-color,
    inset 0 1px 0 $search-button-border-color;
}
.button-menu .plate.search button.btn:not([disabled]):hover {
    color: $search-button-hover-text-color;

    background-color: $search-button-hover-background-color;
    border-color: $search-button-hover-border-color;

    box-shadow: inset -1px 0 0 $search-button-hover-border-color,
    inset 1px 0 0 $search-button-hover-border-color,
    inset 0 1px 0 $search-button-hover-border-color;
}


.alert-menu {
    width: 100%;
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}
.alert-menu .alert {
    width: 100%;
    box-sizing: border-box;

    padding: 0.2em;
}
.alert-menu .alert.alert-danger {
    background-color: $alert-danger;
}
.alert-menu .alert.alert-warning {
    background-color: $alert-warning;
}
.alert-menu .alert.alert-success {
    background-color: $alert-success;
}

.alert-menu .alert .text {
    display: inline-block;

    padding: 0.2em;
}

.alert-menu .alert .close {
    float: right;
    display: inline-block;

    padding: 0.2em 0.6em;
}


.page-content {
    position: relative;
    z-index: 5;
}

.page-content .content-title {
    margin: 0;
    padding: 0.5em 0.8em;

    font-size: 1.8em;
    text-shadow: 0 0 6px $content-title-shadow-color;
}

.page-content .content-data {
    padding: 1.5em;

    color: $black;

    background-color: $white;
}


/* Latest tweet */
.latest-tweet {
    color: $whiter;
    font-size: 1em;
    font-family: 'Lato', sans-serif;

    background-color: $twitter;
    box-shadow: 0 0 8px $twitter;
}

.latest-tweet > a {
    display: block;

    padding: 0.5em 0.8em;

    color: $whiter;
    font-size: 0.85em;

    transition: background-color 200ms;
}
@media only screen and (max-width: 767px) {
    .latest-tweet > a {
        font-size: 0.8em;
    }
}
.latest-tweet > a:hover {
    background-color: $twitter-focus;
}

.latest-tweet [class*=icon-] {
    margin-right: 0.5em;
}

.latest-tweet .text {
    display: inline;
}

.latest-tweet .text u {
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/* !Latest tweet */


/* Home */
.home-article-list .featured {
    position: relative;

    color: $black;
}

.home-article-list .featured .thumbnail {
    position: relative;
    box-sizing: border-box;

    padding: 0.4em;

    background-color: $white;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);

    z-index: 1;
}

.home-article-list .featured .thumbnail img {
    width: 100%;
}

.home-article-list .featured .thumbnail .date {
    position: absolute;
    top: 0;
    left: 0;

    color: $white;
    text-align: right;
    font-weight: bold;

    background-color: $black;
    z-index: 8;
}
.home-article-list .featured .thumbnail .date .day {
    padding: 0.2rem 0.4rem 0.1rem 0.4rem;

    font-size: 1.8em;

    background-color: $green;
}
.home-article-list .featured .thumbnail .date .month-year {
    padding: 0.1rem 0.4rem 0.2rem 0.4rem;

    color: $green;
    font-size: 0.9em;
}

.home-article-list .featured .title-link,
.home-article-list .other-articles .title-link {
    display: block;
}

.home-article-list .featured .title-author {
    box-sizing: border-box;

    margin: 0;
    padding: 0.6em 1em;

    background-color: $white;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);

    z-index: 2;
}
@media only screen and (min-width: 768px) {
    .home-article-list .featured .title-author {
        width: 110%;
        margin-left: -10%;
    }
}

.home-article-list .featured .title-author .title,
.home-article-list .featured .title-author .author {
    margin: 0;
}

.home-article-list .featured .title-author .title {
    padding: 0.2em;

    font-size: 1.2em;
    font-weight: bold;
}

.home-article-list .featured .title-author .author {
    color: rgb(168, 168, 168);
    font-size: 0.95em;
    text-align: right;
}

.home-article-list .featured .tags {
    margin: 0.1em 0.5em;
}

.home-article-list .featured .caption-box,
.home-article-list .other-articles .caption-box {
    padding: 0.4em;

    font-size: 0.98em;

    background-color: $light-light-grey;
    box-shadow: 0px 0px 4px 1px black;
}
@media only screen and (max-width: 767px) {
    .home-article-list .featured .caption-box {
        padding: 0.6em 0 0 0;
    }
    .home-article-list .other-articles .caption-box {
        padding: 0.3em;
    }
}

.home-article-list .featured .caption-box .caption,
.home-article-list .other-articles .caption-box .caption {
    background-color: $white;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
}

.home-article-list .featured .caption-box .caption .caption-text,
.home-article-list .other-articles .caption-box .caption .caption-text {
    padding: 0.8em 0.8em 0.6em 0.8em;

    color: $black;
    line-height: 1.2em;
}

@media only screen and (max-width: 767px) {
    .home-article-list .featured .caption-box .caption .continue,
    .home-article-list .other-articles .caption-box .caption .continue {
        width: 100%;
    }
}

.home-article-list .featured .caption-box .caption .continue,
.home-article-list .other-articles .caption-box .caption .continue {
    float: right;

    margin: 0;
}

.home-article-list .featured .caption-box .caption .continue a {
    font-size: 1.1em;

    padding: 0.3em 0.6em;
}
@media only screen and (max-width: 767px) {
    .home-article-list .featured .caption-box .caption .continue a,
    .home-article-list .other-articles .caption-box .caption .continue a {
        width: 100%;

        padding: 0.6em 0.8em;
    }
}

.home-article-list .other-articles .article {
    margin-bottom: 0;
}
.home-article-list .other-articles .article:last-child {
    margin-bottom: 0;
}

.home-article-list .other-articles .thumbnail {
    box-sizing: border-box;

    padding: 0;
//    padding: 0.3em;

    background-color: $white;
//    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);

    z-index: 1;
}

.home-article-list .other-articles .img {
    padding: 0.2em;

    background-color: $whiter;
}

.home-article-list .other-articles .thumbnail a {
    max-height: 10em;
    overflow: hidden;
}

@media only screen and (max-width: 767px) {
    .home-article-list .other-articles .thumbnail a {
        max-height: 6em;
    }
}

.home-article-list .other-articles .title-author {
    box-sizing: border-box;

    margin: 0;
    padding: 0.3em 0.5em;

    font-size: 0.9em;

    background-color: $white;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);

    z-index: 2;
}

.home-article-list .other-articles .title-author .title,
.home-article-list .other-articles .title-author .author {
    margin: 0;
}

.home-article-list .other-articles .title-author .title a {
    font-size: 120%;
}

.home-article-list .other-articles .title-author .author {
    color: rgb(168, 168, 168);
    font-size: 90%;
    text-align: right;
}

.home-article-list .other-articles .caption-box {
    padding: 0.4em;
}
@media only screen and (max-width: 767px) {
    .home-article-list .other-articles .caption-box {
        padding: 0;
    }
}

.home-article-list .other-articles .caption {
    font-size: 0.9em;
}

.home-article-list .other-articles .caption-box .caption .caption-text {
    padding: 0.4em 0.4em 0.6em 0.4em;

    max-height: 7em;
    overflow: hidden;
}

.home-article-list .article-separator {
    margin: 0.4em;

    text-align: center;

    color: $white;
    font-size: 1.5em;
}
/* !Home */



.article {
    position: relative;
    z-index: 10;

    margin: 0;
}

.article .top-data {
    position: relative;
    z-index: 5;
    
    padding: 0.4em;

    background-color: $whiter;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 4px 1px $black;
    /* -moz-box-sizing: border-box; */
    box-sizing: border-box;
}
.article .top-data .article-thumbnail {
    position: relative;
    /* -moz-box-sizing: border-box; */
    box-sizing: border-box;
}
.article .top-data .article-thumbnail > a {
    display: block;
    position: relative;
    /* -moz-box-sizing: border-box; */
    box-sizing: border-box;
}
.article .top-data .article-thumbnail > a h5 {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
    margin: 0;
    padding: 0.5em;
    
    font-size: 0.8em;
    
    opacity: 0;
    /* -moz-box-sizing: border-box; */
    box-sizing: border-box;

    transition: opacity 200ms, background-color 200ms;
}
.article .top-data .article-thumbnail > a h5 small {
    font-size: 0.7em;
}
.article .top-data:hover .article-thumbnail > a h5 {
    background-color: rgba(40, 40, 40, 0.6);

    opacity: 1;
}
.article .top-data .article-thumbnail > a img {
    width: 100%;
    z-index: 6;

    margin: 0;
    padding: 0;
}
.article .top-data .article-thumbnail h3 {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 7;
    display: block;
    cursor: default;

    margin: 0;
    padding: 0.5em;
    
    color: $white;
    font-size: 1.6em;
    text-shadow: 0 0 4px $blacker;
    
    background-color: rgba(0, 0, 0, 0.8);
    /* -moz-box-sizing: border-box; */
    box-sizing: border-box;
    
    transition: padding 200ms, color 200ms, background-color 200ms;
}
@media only screen and (min-width: 768px) {
    .article .top-data:hover .article-thumbnail h3 {
        padding-bottom: 1.2em;

        background-color: rgba(0, 0, 0, 0.6);
    }
}
@media only screen and (max-width: 767px) {
    .article .top-data .article-thumbnail h3 {
        padding-bottom: 1.2em;
    }
}

.article .top-data .article-thumbnail h4 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 7;
    display: block;
    opacity: 0;
    cursor: default;
    
    margin: 0;
    padding: 0.4em 0.8em;
    
    color: rgba(240, 240, 240, 0.6);
    font-size: 0.9em;
    font-weight: normal;

    /* -moz-box-sizing: border-box; */
    box-sizing: border-box;
    
    transition: padding 200ms, color 200ms, opacity 200ms;
}
@media only screen and (min-width: 768px) {
    .article .top-data:hover .article-thumbnail h4 {
        opacity: 1;
    }
}
@media only screen and (max-width: 767px) {
    .article .top-data .article-thumbnail h4 {
        opacity: 1;
    }
}
.article .top-data .article-thumbnail h4 a {
    font-size: 1.1em;
    font-weight: bold;
}

@media only screen and (max-width: 767px) {
    .article .top-data {
        padding: 0.1em;
    }
    .article .top-data .article-thumbnail h3 {
        font-size: 1.4em;
    }
    .article .top-data .article-thumbnail h4 {
        font-size: 0.8em;
    }
}

.article-comments-title {
    margin-left: 0.8em;
}


.tags {
    cursor: default;

    margin: 0.5em;
    
    font-size: 0.9em;
}

.tags .tag-group {
    margin: 0.2em 0;
    margin-right: 1em;

    font-size: 1.1em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);

    background-color: rgb(192, 192, 192);
    border-radius: 4em;
    box-shadow: 0 0 4px rgb(0, 0, 0);

    transition: color 200ms, background-color 200ms;
}
.tags .tag-group:hover {
    color: $white;
    
    background-color: rgb(20, 50, 92);
}
.tags .tag-group a {
    display: inline-block;

    color: $black;

    padding: 0.6em;
}
.tags .tag-group a:hover {
    color: $white;
}

.tags .tag {
    margin: 0.2em 0;
    padding: 0;
    
    font-size: 0.9em;
    text-shadow: 0 1px 1px rgb(0, 0, 0);

    box-shadow: 0 0 4px rgb(0, 0, 0);
}
.tags .tag a {
    display: inline-block;
    
    color: $white;

    padding: 0.4em;
}


@media only screen and (max-width: 767px) {
    .article .article-content-container {
        padding-left: 0;
        padding-right: 0;
    }
}
.article .article-content .caption {
    padding: 0;
    padding-top: 1em;

    font-style: italic;
    line-height: 1.5em;
}
.article .article-content .caption:first-letter {
    display: inline-block;

    padding: 0.1em 0.08em;
    
    color: $white;
    font-size: 1.8em;
    font-weight: bold;
    font-style: normal;

    background-color: rgb(20, 50, 92);
}

.article .article-content hr {
    width: 80%;    

    margin: 0 auto;
}

.article .article-content .content {
    padding: 0;
    
    line-height: 1.5em;
}
.article .article-content .content img {
    max-width: 100%;
}

.article .article-content .content h2 {
    margin: 1.6em auto 1.1em auto;
}
.article .article-content .content h3 {
    margin: 1.6em auto 1.1em auto;
}
.article .article-content .content p {
    margin: 1em auto;
}

.article .article-content .content .tldc {
    opacity: 0.6;

    font-size: 0.7em;
}

.article .article-content .tldr {
    padding: 0;
    
    line-height: 1.4em;
}
.article .article-content .tldr h2 {
    font-size: 1.4em;
    font-style: italic;
}

.article .article-comments-title {
    margin: 0.6em 1em;
}

.article .comment {
    margin-bottom: 0.8em;
    padding: 0.4em 0 0 0;
}
.article .comment:last-child {
    margin-bottom: 0;
}
.article .comment.comment-reply {
    margin-left: 2.4em;
}
.article .comment.comment-reply .reply-icon-box {
    float: right;
    opacity: 0.3;

    margin: 0 0.4em;
}

.article .comment .user {
    margin-bottom: 0.4em;
    padding: 0.4em 0.8em 0.4em 0.8em;
    
    /* -moz-box-sizing: border-box; */
    box-sizing: border-box;
}
.article .comment .date {
    margin: 0;
    padding: 0;
    
    font-size: 0.8em;
}
.article .comment .content {
    margin: 0;
    padding: 0 1.6em 0.2em 1.6em;
    
    font-size: 0.9em;
}
.article .comment .content p {
    margin: 0.8em 0;
}
.article .comment .content blockquote {
    margin: 0.8em 0.8em;
    padding-left: 0.4em;

    color: rgb(80, 80, 80);
    font-size: 0.9em;
    
    border-left: 4px solid rgb(220, 220, 220);
}

.article .continue {
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}


.banner {
    width: 100%;
    display: block;
    position: relative;
    z-index: 15;
    
    padding: 1em 0;
    
    text-align: center;
    
    background-color: $white;
    box-shadow: 0 0 4px rgb(0, 0, 0);
    
    transition: background-color 200ms;
}
.banner:hover {
    background-color: $whiter;
}


.site-menu {
    position: relative;
    z-index: 14;

    margin: 0 0 0 0;
    padding: 0 0 0.6em 0;

    font-size: 0.9em;

    background-color: $white;
    box-shadow: 0 0 4px rgb(0, 0, 0);
    box-sizing: border-box;
    
    transition: background-color 200ms;
}
@media only screen and (max-width: 767px) {
    .site-menu {
        margin: 0;
        padding: 0;
    }
}

.site-menu h2 {
    margin: 0 auto 0.2em auto;

    background-color: rgb(20, 50, 92);
    box-shadow: 0 1px 4px -1px rgb(0, 0, 0);

    transition: background-color 200ms;
}
.site-menu h2:hover {
    background-color: rgb(36, 84, 128);
}
.site-menu h2.first {
    padding-top: 0.15em;
}

.site-menu h2 a {
    display: block;

    padding: 0.4em 0.6em 0.4em 0.6em;

    color: $white;
}
.site-menu h2 a:hover {
    color: $whiter;
}

.site-menu ul {
    padding: 0 1em;
}
.site-menu ul li {
    /*box-shadow: 2px 0 4px -2px rgba(0, 0, 0, 0.25);*/
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
    
    transition: box-shadow 200ms;
}
.site-menu ul li:hover {
    box-shadow: 5px 0 8px -2px rgba(0, 0, 0, 0.5);
}
.site-menu ul li a {
    display: block;

    padding: 0.1em 0.4em;
}
.site-menu ul li .tag {
    cursor: inherit;
    
    color: inherit;

    padding: 0.3em;
    
    background-color: rgba(20, 50, 92, 0.1);
}


.side-menu {
    width: 75%;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 50;
    overflow-x: hidden;
    overflow-y: auto;

    background-color: $black;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.8);

    /* -webkit-transition: -webkit-transform 200ms ease-in-out; */ /* Changed here */ 
    /*   -moz-transition: -moz-transform 200ms ease-in-out; */
    /*     -o-transition: -o-transform 200ms ease-in-out; */
    transition: transform 200ms ease-in-out;
}
@media only screen and (max-width: 767px) {
    .side-menu {
        padding-bottom: 2em;
    }
}

.left-menu {
    right: 100%;
}
.left-menu .user-box {
    margin-bottom: 1.5em;

    box-shadow: 0 0 4px rgb(0, 0, 0);
}
.left-menu .user-box img {
    width: 100%;
}
.left-menu .user-box h3 {
    width: 100%;
    position: absolute;
    bottom: 0;
    
    margin: 0;
    
    background-color: rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
}
.left-menu .user-box h3 a {
    display: block;

    padding: 0.3em 0.5em;

    color: $white;
    text-shadow: 0 0 4px rgb(0, 0, 0);
    
    transition: text-shadow 200ms;
}
.left-menu .user-box h3 a:hover,
.left-menu .user-box h3 a:active {
    color: $whiter;
    text-shadow: 0 0 5px rgb(0, 0, 0);
}
.left-menu .content a.btn {
    display: block;
}
.left-menu .content h1,
.left-menu .content h2,
.left-menu .content h3,
.left-menu .content h4,
.left-menu .content h5 {
    margin: 0;
    padding: 0;
    
    box-shadow: 0 2px 2px rgb(0, 0, 0);
}
.left-menu .content h1 a,
.left-menu .content h2 a,
.left-menu .content h3 a,
.left-menu .content h4 a,
.left-menu .content h5 a {
    width: 100%;
    display: block;

    padding: 0.3em;
}


.right-menu {
    left: 100%;
}
.right-menu h2 {
    margin: 0;
    padding: 0.3em 0.4em 0.4em 0.4em !important;

    box-shadow: 0 0 2px rgb(0, 0, 0);
}
.right-menu h2 label {
    display: block;
}
.right-menu  .site-menu {
    background-color: transparent;
    box-shadow: none;
}
.right-menu  .site-menu input[type="radio"] {
    height: 0;
    display: none;
    opacity: 0;
}
.right-menu  .site-menu  input[type="radio"] + .menu-content {
    height: 0;
    overflow: hidden;

    box-sizing: border-box;
    
    transition: height 200ms;
}
.right-menu  .site-menu  input[type="radio"]:checked + .menu-content {
    height: 12em;
}


/* Back-office: user list */
.user-list .user {
    margin: 0.8em 0;

    font-size: 1.2em;

    background-color: $whiter;
    box-shadow: 0 0 8px -1px $black;
}
.user-list .user:first-child {
    margin-top: 0;
}
.user-list .user:last-child {
    margin-bottom: 0;
}

.user-list .user .user-head {
    min-height: 2.8em;

    box-shadow: 0 4px 6px -3px $black;
}

.user-list .user .user-image {
    height: 2em;
    float: left;

    margin: 0.4em;
}

.user-list .user .login {
    display: inline-block;

    margin: 0.6em 0;
}

.user-list .user .login .mail {
    font-size: 0.8em;
}

.user-list .user .login .rights {
    font-size: 0.85em;
    font-weight: normal;
}
.user-list .user .login .rights [class*=icon] {
    font-size: 0.9em;
}

.user-list .user .description {
    padding: 0.4em 0.8em;

    font-size: 0.75em;
}
.user-list .user .description:before {
    font-size: 1.4em;
    content: '“';
}
.user-list .user .description:after {
    font-size: 1.4em;
    content: '„';
}
/* !Back-office: user list */

/* Back-office: report list */
.report-list .report {
    margin: 0.8em 0;

    font-size: 1.2em;

    background-color: $whiter;
    box-shadow: 0 0 8px -1px $black;
}
.report-list .report:first-child {
    margin-top: 0;
}
.report-list .report:last-child {
    margin-bottom: 0;
}

.report-list .report.inactive {
    opacity: 0.5;
}

.report-list .report .report-head {
    padding: 0.3em 0.6em;

    box-shadow: 0 4px 6px -3px $black;
}

.report-list .report .report-head .type {
    text-transform: capitalize;
}
.report-list .report .report-head .type [class*=icon] {
    font-size: 0.9em;
}

.report-list .report .report-head .author {
    opacity: 0.75;

    font-size: 0.8em;
}

.report-list .report .report-head .state {
    float: right;
}

.report-list .report .report-head .state .new-state-list {
    min-width: 12em;
    display: none;
    position: absolute;
    right: 0;
    z-index: 9;

    text-align: center;

    box-shadow: 0 2px 4px black;
}
.report-list .report .report-head .state .new-state-list > div {
    background-color: $whiter;
    z-index: 10;

    padding: 0.2em;
}

.report-list .report .report-description {
    padding: 0.4em 0.8em;

    font-size: 0.75em;
}
.report-list .report .report-description:before {
    font-size: 1.4em;
    content: '“';
}
.report-list .report .report-description:after {
    font-size: 1.4em;
    content: '„';
}

.page-movement {
    margin: auto;
}

.page-movement [class*=cell-] .btn {
    width: 100%;

    padding: 0.2em;

    font-size: 1.5em;
}
/* !Back-office: report list */

/* Back-office: log list */
.log-box {
    margin: 0;
    padding: 0;

    color: $whiter;
    font-size: 0.9em;
    font-family: 'Inconsolata', monospace;

    background-color: $blacker;
}

.log-box .log-list {
    padding: 0.6em;
}

.log-box .log-list p.line {
    margin: 0;
    padding: 0.2em;
}
/* !Back-office: log list */

.footer {
    margin: 0 auto;
    padding: 0.8em 1.5em;

    color: $footer-text-color;
    font-size: 1em;
    text-align: center;

    background-color: $footer-background-color;
    box-shadow: 0 0 12px -2px $footer-shadow-color;
}
.footer p {
    margin: 0;
    padding: 0;
}
.footer p a {
    display: inline;
}
