$body-min-width:                300px;
$body-width:                    100%;
$body-max-width:                1002px;
$body-background-image:         url('http://i.imgur.com/7XmZFgC.png');

// Generic colors
$whiter:                rgb(255, 255, 255);
$white:                 rgb(240, 240, 240);
$white-border:          rgb(192, 192, 192);
$white-border-hover:    rgb(208, 208, 208);

$light-light-grey:      rgb(232, 232, 232);
$light-grey:            rgb(192, 192, 192);
$grey:                  rgb(120, 120, 120);

$redder:                rgb(208, 96, 96);
$red:                   rgb(192, 84, 84);
$red-border:            rgb(168, 64, 64);
$red-focus:             rgb(168, 64, 64);
$red-focus-border:      rgb(128, 48, 48);

$oranger:               rgb(224, 156, 104);
$orange:                rgb(216, 128, 64);
$orange-border:         rgb(168, 96, 32);
$orange-focus:          rgb(184, 112, 48);
$orange-focus-border:   rgb(144, 84, 24);

$light-greener:         rgb(96, 184, 96);
$light-green:           rgb(84, 172, 84);
$green:                 rgb(80, 152, 80);
$green-hover:           rgb(112, 182, 112);
$green-focus:           rgb(112, 182, 112);
$green-border:          rgb(40, 104, 40);

$light-blue:            rgb(128, 184, 224);
$light-blue-background: rgba(200, 224, 232, 0.1);
$blue:                  rgb(64, 104, 152);
$blue-focus:            rgb(40, 64, 112);
$blue-border:           $blue-focus;
$blue-focus-border:     rgb(24, 40, 96);

$dark-green:            rgb(40, 76, 40);
$dark-green-focus:      rgb(56, 91, 56);
$dark-green-border:     rgb(20, 52, 20);
$dark-green-focus-border: rgb(56, 91, 56);

$dark-blue:             rgb(32, 56, 96);
$dark-blue-focus:       rgb(20, 40, 72);
$dark-blue-border:      $dark-blue-focus;
$dark-blue-focus-border: rgb(12, 32, 56);

$dark-purple:           rgb(40, 20, 40);

$black:                 rgb(32, 32, 32);
$blacker:               rgb(0, 0, 0);


// Specific to social networks
$facebook:              rgb(40, 68, 134);
$facebook-focus:        rgb(10, 38, 104);
$facebook-border:       $facebook-focus;
$facebook-focus-border: rgb(5, 19, 51);

$twitter:               rgb(0, 172, 237);
$twitter-focus:         rgb(0, 142, 207);
$twitter-border:        $twitter-focus;
$twitter-focus-border:  rgb(0, 105, 153);

$rss:                   rgb(255, 153, 0);
$rss-focus:             rgb(225, 123, 0);
$rss-border:            $rss-focus;
$rss-focus-border:      rgb(179, 98, 0);

$soundcloud:            rgb(254, 70, 0);
$soundcloud-focus:      rgb(224, 40, 0);
$soundcloud-border:     $soundcloud-focus;
$soundcloud-focus-border: rgb(158, 29, 0);

$linkedin:              rgb(0, 117, 186);
$linkedin-focus:        rgb(0, 82, 130);
$linkedin-border:       $linkedin-focus;
$linkedin-focus-border: rgb(0, 52, 82);

$reddit:                rgb(107, 193, 255);
$reddit-focus:          rgb(91, 164, 216);
$reddit-border:         $reddit-focus;
$reddit-focus-border:   rgb(39, 113, 165);

$mail:                  rgb(217, 7, 8);
$mail-focus:            rgb(188, 0, 0);
$mail-border:           $mail-focus;
$mail-focus-border:     rgb(138, 0, 0);


// Specific (misc)
$body-text-color:               $white;
$body-background-color:         $black;

$selection-text-color:          $whiter;
$selection-background-color:    $green;

$link-color:                    $green;
$link-hover-color:              $green-hover;

$button-text-color:             $black;
$button-background-color:       $white;
$button-border-color:           $white-border;
$button-hover-text-color:       $blacker;
$button-hover-background-color: $white;
$button-hover-border-color:     $white-border;

$button-inverse-text-color:     $white;
$button-inverse-background-color: $black;
$button-inverse-border-color:   $blacker;
$button-inverse-hover-background-color: $black;
$button-inverse-hover-border-color: $blacker;

$menu-button-text-color:        $button-text-color;
$menu-button-background-color:  $button-background-color;
$menu-button-border-color:      $button-border-color;
$menu-button-hover-text-color:  $white;
$menu-button-hover-background-color: $green;
$menu-button-hover-border-color: $green-border;

$menu-button-special-text-color: $white;
$menu-button-special-background-color: $blue;
$menu-button-special-border-color: $blue-border;
$menu-button-special-hover-text-color: $white;
$menu-button-special-hover-background-color: $dark-blue;
$menu-button-special-hover-border-color: $dark-blue-border;

$search-button-text-color:      $white;
$search-button-background-color: $blue;
$search-button-border-color:    $blue-border;
$search-button-hover-text-color: $white;
$search-button-hover-background-color: $blue-focus;
$search-button-hover-border-color: $blue-focus-border;

$plate-text-color:              $black;
$plate-background-color:        $white;
$plate-border-color:            $light-grey;

$code-text-color:               $white;
$code-background-color:         $dark-purple;

$tag-text-color:                $white;
$tag-background-color:          $green-border;
$tag-hover-background-color:    $green;

$label-text-color:              $white;
$label-background-color:        $grey;

$thumbnail-text-color:          $black;
$thumbnail-background-color:    $white;
$thumbnail-shadow-color:        $blacker;

$inset-text-color:              $white;
$inset-background-color:        transparent;

$outset-text-color:             $black;
$outset-background-color:       $light-light-grey;
$outset-shadow-color:           $blacker;

$outset-box-text-color:         $black;
$outset-box-background-color:   $whiter;
$outset-box-shadow-color:       rgba(0, 0, 0, 0.2);

$footer-text-color:             $black;
$footer-background-color:       $white;
$footer-shadow-color:           rgba(0, 0, 0, 0.8);

$content-title-shadow-color:    $blacker;

$alert-danger:          rgb(192, 84, 84);
$alert-warning:         rgb(216, 128, 64);
$alert-success:         rgb(84, 172, 84);
