@font-face {
    font-family: 'TikalSans';
    src: url('/fonts/TikalSans-Medium-webfont.eot');
    src: url('/fonts/TikalSans-Medium-webfont.eot') format('embedded-opentype'), url('/fonts/TikalSans-Medium-webfont.woff') format('woff'), url('/fonts/TikalSans-Medium-webfont.ttf') format('truetype'), url('/fonts/TikalSans-Medium-webfont.svg') format('svg');
}
@font-face {
    font-family: 'MyriadPro';
    src: url('fonts/MYRIADPRO-REGULAR.OTF');
}


html {
    font-family: 'Lato', 'TikalSans';
    font-size: 17px;
}
@media only screen and (max-width: 767px) {
    html {
        font-size: 20px;
    }
}
@media only screen and (max-width: 600px) {
    html {
        font-size: 18px;
    }
}
@media only screen and (max-width: 400px) {
    html {
        font-size: 17px;
    }
}

* {
    position: relative;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
*::selection {
    color: $white;
    background: $green;
}


body {
    position: relative;

    margin: 0;

    color: $white;

    background-color: $black;
}


@media only screen and (min-width: 768px) {
    .hidden-desktop {
        display: none;
        margin: 0;
    }
    .hidden-desktop * {
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .hidden-mobile {
        display: none !important;
        margin: 0;
    }

    .fixed-bottom-mobile {
        width: 100%;
        position: fixed !important;
        bottom: 0;
        z-index: 25;
    }
}


a {
    display: inline-block;
    box-sizing: border-box;

    color: $green;
    text-decoration: none;
    
    transition: color 200ms;
}
a:hover {
    color: $green-hover;
}

input,
textarea {
    font-family: 'Inconsolata', monospace;
}

img {
    max-width: 100%;
}

q {
    font-style: italic;
}


.no-width {
    width: 0% !important;
    display: none;

    margin: 0 !important;
    padding: 0 !important;
}


.btn {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;

    margin: 0;
    padding: .2em .4em;

    color: $black;
    font-size: 1em;

    background-color: $white;
    border: 0;
    border-bottom: 3px solid $white-border;

    box-shadow: inset -1px 0 0 transparent,
    inset 1px 0 0 transparent,
    inset 0 1px 0 transparent;

    transition: color 200ms, background-color 200ms, border-color 200ms, box-shadow 200ms;
}
.btn:hover {
    background: $white;

    box-shadow: inset -1px 0 0 rgb(208, 208, 208),
    inset 1px 0 0 rgb(208, 208, 208),
    inset 0 1px 0 rgb(208, 208, 208);
}
a.btn {
    text-align: center;
}

.btn.big {
    padding: .4em .5em;
    font-size: 1.1em;
}


.btn.btn-blue,
.btn.btn-blue:visited {
    color: $white;
    background-color: $blue !important;
    border-color: $blue-border !important;
}
.btn.btn-blue:active,
.btn.btn-blue:hover,
.btn.btn-blue:focus {
    background-color: $blue-focus !important;
    border-color: $blue-focus-border !important;

    box-shadow: inset -1px 0 0 $blue-focus-border,
    inset 1px 0 0 $blue-focus-border,
    inset 0 1px 0 $blue-focus-border;
}


.btn.btn-facebook,
.btn.btn-facebook:visited {
    color: $white;
    background-color: $facebook;
    border-color: $facebook-border;
}
.btn.btn-facebook:active,
.btn.btn-facebook:hover,
.btn.btn-facebook:focus {
    background-color: $facebook-focus;
    border-color: $facebook-focus-border;

    box-shadow: inset -1px 0 0 $facebook-focus-border,
    inset 1px 0 0 $facebook-focus-border,
    inset 0 1px 0 $facebook-focus-border;
}

.btn.btn-twitter,
.btn.btn-twitter:visited {
    color: $white;
    background-color: $twitter;
    border-color: $twitter-border;
}
.btn.btn-twitter:active,
.btn.btn-twitter:hover,
.btn.btn-twitter:focus {
    background-color: $twitter-focus;
    border-color: $twitter-focus-border;

    box-shadow: inset -1px 0 0 $twitter-focus-border,
    inset 1px 0 0 $twitter-focus-border,
    inset 0 1px 0 $twitter-focus-border;
}

.btn.btn-rss,
.btn.btn-rss:visited {
    color: $white;
    background-color: $rss;
    border-color: $rss-border;
}
.btn.btn-rss:active,
.btn.btn-rss:hover,
.btn.btn-rss:focus {
    background-color: $rss-focus;
    border-color: $rss-focus-border;

    box-shadow: inset -1px 0 0 $rss-focus-border,
    inset 1px 0 0 $rss-focus-border,
    inset 0 1px 0 $rss-focus-border;
}

.btn.btn-soundcloud,
.btn.btn-soundcloud:visited {
    color: $white;
    background-color: $soundcloud;
    border-color: $soundcloud-border;
}
.btn.btn-soundcloud:active,
.btn.btn-soundcloud:hover,
.btn.btn-soundcloud:focus {
    background-color: $soundcloud-focus;
    border-color: $soundcloud-focus-border;

    box-shadow: inset -1px 0 0 $soundcloud-focus-border,
    inset 1px 0 0 $soundcloud-focus-border,
    inset 0 1px 0 $soundcloud-focus-border;
}

.btn.btn-linkedin,
.btn.btn-linkedin:visited {
    color: $white;
    background-color: $linkedin;
    border-color: $linkedin-border;
}
.btn.btn-linkedin:active,
.btn.btn-linkedin:hover,
.btn.btn-linkedin:focus {
    background-color: $linkedin-focus;
    border-color: $linkedin-focus-border;

    box-shadow: inset -1px 0 0 $linkedin-focus-border,
    inset 1px 0 0 $linkedin-focus-border,
    inset 0 1px 0 $linkedin-focus-border;
}

.btn.btn-reddit,
.btn.btn-reddit:visited {
    color: $white;
    background-color: $reddit;
    border-color: $reddit-border;
}
.btn.btn-reddit:active,
.btn.btn-reddit:hover,
.btn.btn-reddit:focus {
    background-color: $reddit-focus;
    border-color: $reddit-focus-border;

    box-shadow: inset -1px 0 0 $reddit-focus-border,
    inset 1px 0 0 $reddit-focus-border,
    inset 0 1px 0 $reddit-focus-border;
}

.btn.btn-mail,
.btn.btn-mail:visited {
    color: $white;
    background-color: $mail;
    border-color: $mail-border;
}
.btn.btn-mail:active,
.btn.btn-mail:hover,
.btn.btn-mail:focus {
    background-color: $mail-focus;
    border-color: $mail-focus-border;

    box-shadow: inset -1px 0 0 $mail-focus-border,
    inset 1px 0 0 $mail-focus-border,
    inset 0 1px 0 $mail-focus-border;
}


.plate {
    display: inline-block;
    cursor: pointer;
    height: 1.7em;
    box-sizing: border-box;

    padding: .3em .4em;

    color: rgb(40, 40, 40);
    font-size: 1em;

    background-color: $white;
    border: none;
    border-bottom: 3px solid rgb(192, 192, 192);

    transition: color 200ms, background-color 200ms, border-color 200ms;
}

.plate.big {
    padding: .4em .5em;
    font-size: 1.1em;
}


ul.unstyled {
    margin: 0 auto 0 auto;
    padding-left: 0;

    list-style-type: none;
}


ul.flat {
    display: inline-block;
}
ul.flat > li {
    display: inherit;
}


textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover
{
    outline: 0px !important;
/* -webkit-appearance: none; */
}


input {
    width: 100%;
    box-sizing: border-box;

    padding: .2em .4em;

    font-size: 1em;

    border: 1px solid rgb(220, 220, 220);
    border-top: 3px solid rgb(220, 220, 220);
}
input.big {
    padding: .4em .5em;
    font-size: 1.1em;
}
.input-group input {
    margin: 0;
}
.input-group button {
    margin: 0;
}

.input-group[class*="grid-"] input,
.input-group[class*="grid-"] .plate,
.input-group[class*="grid-"] .btn {
    width: 100%;
}

textarea {
    width: 100%;
    min-height: 6em;
    box-sizing: border-box;
    resize: vertical;

    margin: 0 auto;
    padding: 0.4em 0.6em;

    font-family: 'Lato', 'TikalSans';
    font-size: 0.8em;

    border: 1px solid rgb(220, 220, 220);
    border-top: 3px solid rgb(220, 220, 220);
}



.text-tiny {
    font-size: 0.6em;
}
.text-small {
    font-size: 0.8em;
}
.text-big {
    font-size: 1.2em;
}
.text-huge {
    font-size: 1.4em;
}

.text-bold {
    font-weight: bold;
}
.text-bolder {
    font-weight: bolder;
}
/*
  .text-green {
  color: rgb(40, 104, 40);
  }
  .inset .text-green {
  color: rgb(64, 168, 64);
  }
  */
.text-red {
    color: rgb(192, 84, 84);
}
.text-redder {
    color: rgb(208, 96, 96);
}
.text-orange {
    color: rgb(216, 128, 64);
}
.text-oranger {
    color: rgb(224, 156, 104);
}
.text-blue {
    color: rgb(64, 104, 152);
}
.text-green {
    color: rgb(84, 172, 84);
}
.text-greener {
    color: rgb(96, 184, 96);
}
.text-grey {
    color: rgb(96, 96, 96);
}
.text-greyer {
    color: rgb(128, 128, 128);
}


.text-comment {
    opacity: 0.7;
    font-size: 0.9em;
}

code {
    display: block;
    overflow-x: auto;

    padding: 0.2em 0.5em;

    color: $white;
    font-size: 0.8em;
    line-height: 1.2em;

    background-color: rgb(40, 20, 40);
    box-sizing: border-box;
}
@media only screen and (min-width: 768px) {
    code {
        white-space: nowrap;
    }
}
code.inline {
    display: inline-block;
    vertical-align: middle;
    
    padding: 0.1em 0.3em;
}

code .comment {
    opacity: 0.6;
}

code.html .tagname {
    color: rgb(80, 80, 200);
}
code.html .attr {
    color: rgb(200, 200, 80);
}
code.html .string {
    color: rgb(200, 80, 200);
}

code.js .keyword {
    color: rgb(200, 200, 80);
}
code.js .almost-keyword {
    color: rgb(80, 200, 200);
}
code.js .variable {
    color: rgb(80, 200, 80);
}
code.js .string {
    color: rgb(200, 80, 200);
}



.tag {
    display: inline-block;
    cursor: default;
    
    padding: 0.4em 0.6em;
    
    color: $white;
    font-size: 0.9em;
    
    background-color: rgb(40, 104, 40);

    transition: background-color 200ms;
}
.tag:hover {
    background-color: rgb(80, 152, 80);
}

.label {
    display: inline-block;
    
    padding: 0 0.3em;
    
    color: $white;
    font-size: 0.9em;
    
    background-color: rgb(120, 120, 120);
}
.label.label-red {
    background-color: rgb(192, 84, 84);
}
.label.label-redder {
    background-color: rgb(208, 96, 96);
}
.label.label-orange {
    background-color: rgb(216, 128, 64);
}
.label.label-oranger {
    background-color: rgb(224, 156, 104);
}
.label.label-blue {
    background-color: rgb(64, 104, 152);
}
.label.label-green {
    background-color: rgb(84, 172, 84);
}
.label.label-greener {
    background-color: rgb(96, 184, 96);
}
.label.label-greyer {
    background-color: rgb(128, 128, 128);
}
.label.label-round {
    border-radius: 0.2em;
}
.label.label-boxxy {
    padding: 0.2em;

    font-size: 1.1em;
}


.thumbnail {
    position: relative;
    
    padding: 0.4em;
    
    background-color: $white;
    box-shadow: 0 0 4px rgb(0, 0, 0);
}


.relative {
    position: relative;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}
.clear {
    clear: both;
}

.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}
.align-justify {
    text-align: justify;
}


/* Website specific */
.inset {
    color: $white;

    background-color: transparent;
}

.outset {
    padding: 1.4em;

    color: rgb(40, 40, 40);
    
    background-color: $light-light-grey;
    box-shadow: 0px 0px 4px 1px black;
}
@media only screen and (max-width: 767px) {
    .outset {
        padding: 0.8em;
    }
}
.outset .outset-box {
    padding: 0.2em 1em;
    
    color: rgb(40, 40, 40);
    
    background-color: $whiter;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
}
.outset .outset-box.no-padding {
    padding: 0;
}

.page-section-padding {
    display: block;
    height: 2em;
}

.giant {
    font-size: 1.25em;
}

.hidden {
    display: none;
}

.stick-bottom {
    position: fixed;
    bottom: 0;
}
@media only screen and (max-width: 767px) {
    .stick-bottom-mobile {
        position: fixed !important;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
