@media all{
    [class*="grid-"] {
        width: 100%;
    }
    [class*="grid-"] + * {
    clear: both;
  }

    [class*="grid-"] > [class*="cell-"],
    [class*="grid-"] > [class*="padd-"] {
        width: 0%; /* Hide unsupported cell sizes (for better debugging) */
        display: inline-block;
        float: left;

        margin: 0 auto;
        padding: 0;

        line-height: 1;
    }
    [class*="grid-"] > [class*="cell-"] ~ :not([class*="cell-"]):not([class*="padd-"]),
    [class*="grid-"] > [class*="padd-"] ~ :not([class*="cell-"]):not([class*="padd-"]) {
    clear: both;
  }

    .grid-12 > .cell-1,
    .grid-12 > .padd-1 {
        width: 8.33%;
    }

    .grid-12 > .cell-2,
    .grid-12 > .padd-2,
    .grid-6 > .cell-1,
    .grid-6 > .padd-1 {
        width: 16.66%;
    }

    .grid-12 > .cell-3,
    .grid-12 > .padd-3,
    .grid-8 > .cell-2,
    .grid-8 > .padd-2,
    .grid-4 > .cell-1,
    .grid-4 > .padd-1 {
        width: 25.00%;
    }

    .grid-12 > .cell-4,
    .grid-12 > .padd-4,
    .grid-6 > .cell-2,
    .grid-6 > .padd-2,
    .grid-3 > .cell-1,
    .grid-3 > .padd-1 {
        width: 33.33%;
    }

    .grid-12 > .cell-5,
    .grid-12 > .padd-5 {
        width: 41.66%;
    }

    .grid-12 > .cell-6,
    .grid-12 > .padd-6,
    .grid-10 > .cell-5,
    .grid-10 > .padd-5,
    .grid-8 > .cell-4,
    .grid-8 > .padd-4,
    .grid-6 > .cell-3,
    .grid-6 > .padd-3,
    .grid-4 > .cell-2,
    .grid-4 > .padd-2,
    .grid-2 > .cell-1,
    .grid-2 > .padd-1 {
        width: 50.00%;
    }

    .grid-12 > .cell-7,
    .grid-12 > .padd-7 {
        width: 58.33%;
    }

    .grid-12 > .cell-8,
    .grid-12 > .padd-8,
    .grid-6 > .cell-4,
    .grid-6 > .padd-4,
    .grid-3 > .cell-2,
    .grid-3 > .padd-2 {
        width: 66.66%;
    }

    .grid-12 > .cell-9,
    .grid-12 > .padd-9,
    .grid-8 > .cell-6,
    .grid-8 > .padd-6,
    .grid-4 > .cell-3,
    .grid-4 > .padd-3 {
        width: 75.00%;
    }

    .grid-12 > .cell-10,
    .grid-12 > .padd-10,
    .grid-6 > .cell-5,
    .grid-6 > .padd-5 {
        width: 83.33%;
    }

    .grid-12 > .cell-11,
    .grid-12 > .padd-11 {
        width: 91.66%;
    }

    .grid-12 > .cell-12,
    .grid-12 > .padd-12,
    .grid-10 > .cell-10,
    .grid-10 > .padd-10,
    .grid-8 > .cell-8,
    .grid-8 > .padd-8,
    .grid-6 > .cell-6,
    .grid-6 > .padd-6,
    .grid-5 > .cell-5,
    .grid-5 > .padd-5,
    .grid-4 > .cell-4,
    .grid-4 > .padd-4,
    .grid-3 > .cell-3,
    .grid-3 > .padd-3,
    .grid-2 > .cell-2,
    .grid-2 > .padd-2 {
        width: 100.00%;
    }

    .grid-10 > .cell-1,
    .grid-10 > .padd-1 {
        width: 10.00%;
    }

    .grid-10 > .cell-2,
    .grid-10 > .padd-2,
    .grid-5 > .cell-1,
    .grid-5 > .padd-1 {
        width: 20.00%;
    }

    .grid-10 > .cell-3,
    .grid-10 > .padd-3 {
        width: 30.00%;
    }

    .grid-10 > .cell-4,
    .grid-10 > .padd-4,
    .grid-5 > .cell-2,
    .grid-5 > .padd-2 {
        width: 40.00%;
    }

    .grid-10 > .cell-6,
    .grid-10 > .padd-6,
    .grid-5 > .cell-3,
    .grid-5 > .padd-3 {
        width: 60.00%;
    }

    .grid-10 > .cell-7,
    .grid-10 > .padd-7 {
        width: 70.00%;
    }

    .grid-10 > .cell-8,
    .grid-10 > .padd-8,
    .grid-5 > .cell-4,
    .grid-5 > .padd-4 {
        width: 80.00%;
    }

    .grid-10 > .cell-9,
    .grid-10 > .padd-9 {
        width: 90.00%;
    }

    .grid-8 > .cell-1,
    .grid-8 > .padd-1 {
        width: 12.50%;
    }

    .grid-8 > .cell-3,
    .grid-8 > .padd-3 {
        width: 37.50%;
    }

    .grid-8 > .cell-5,
    .grid-8 > .padd-5 {
        width: 62.50%;
    }

    .grid-8 > .cell-7,
    .grid-8 > .padd-7 {
        width: 87.50%;
    }
}
@media only screen and (max-width: 767px){
    [class*="grid-"] {
        width: 100%;
    }

    [class*="grid-"] > [class*="cell-mobile"],
    [class*="grid-"] > [class*="padd-mobile"] {
        width: 0%; /* Hide unsupported cell sizes (for better debugging) */
        display: inline-block;
        float: left;

        margin: 0 auto;
        padding: 0;

        line-height: 1;
    }

    .grid-12 > .cell-mobile-1,
    .grid-12 > .padd-mobile-1 {
        width: 8.33%;
    }

    .grid-12 > .cell-mobile-2,
    .grid-12 > .padd-mobile-2,
    .grid-6 > .cell-mobile-1,
    .grid-6 > .padd-mobile-1 {
        width: 16.66%;
    }

    .grid-12 > .cell-mobile-3,
    .grid-12 > .padd-mobile-3,
    .grid-8 > .cell-mobile-2,
    .grid-8 > .padd-mobile-2,
    .grid-4 > .cell-mobile-1,
    .grid-4 > .padd-mobile-1 {
        width: 25.00%;
    }

    .grid-12 > .cell-mobile-4,
    .grid-12 > .padd-mobile-4,
    .grid-6 > .cell-mobile-2,
    .grid-6 > .padd-mobile-2,
    .grid-3 > .cell-mobile-1,
    .grid-3 > .padd-mobile-1 {
        width: 33.33%;
    }

    .grid-12 > .cell-mobile-5,
    .grid-12 > .padd-mobile-5 {
        width: 41.66%;
    }

    .grid-12 > .cell-mobile-6,
    .grid-12 > .padd-mobile-6,
    .grid-10 > .cell-mobile-5,
    .grid-10 > .padd-mobile-5,
    .grid-8 > .cell-mobile-4,
    .grid-8 > .padd-mobile-4,
    .grid-6 > .cell-mobile-3,
    .grid-6 > .padd-mobile-3,
    .grid-4 > .cell-mobile-2,
    .grid-4 > .padd-mobile-2,
    .grid-2 > .cell-mobile-1,
    .grid-2 > .padd-mobile-1 {
        width: 50.00%;
    }

    .grid-12 > .cell-mobile-7,
    .grid-12 > .padd-mobile-7 {
        width: 58.33%;
    }

    .grid-12 > .cell-mobile-8,
    .grid-12 > .padd-mobile-8,
    .grid-6 > .cell-mobile-4,
    .grid-6 > .padd-mobile-4,
    .grid-3 > .cell-mobile-2,
    .grid-3 > .padd-mobile-2 {
        width: 66.66%;
    }

    .grid-12 > .cell-mobile-9,
    .grid-12 > .padd-mobile-9,
    .grid-8 > .cell-mobile-6,
    .grid-8 > .padd-mobile-6,
    .grid-4 > .cell-mobile-3,
    .grid-4 > .padd-mobile-3 {
        width: 75.00%;
    }

    .grid-12 > .cell-mobile-10,
    .grid-12 > .padd-mobile-10,
    .grid-6 > .cell-mobile-5,
    .grid-6 > .padd-mobile-5 {
        width: 83.33%;
    }

    .grid-12 > .cell-mobile-11,
    .grid-12 > .padd-mobile-11 {
        width: 91.66%;
    }

    .grid-12 > .cell-mobile-12,
    .grid-12 > .padd-mobile-12,
    .grid-10 > .cell-mobile-10,
    .grid-10 > .padd-mobile-10,
    .grid-8 > .cell-mobile-8,
    .grid-8 > .padd-mobile-8,
    .grid-6 > .cell-mobile-6,
    .grid-6 > .padd-mobile-6,
    .grid-5 > .cell-mobile-5,
    .grid-5 > .padd-mobile-5,
    .grid-4 > .cell-mobile-4,
    .grid-4 > .padd-mobile-4,
    .grid-3 > .cell-mobile-3,
    .grid-3 > .padd-mobile-3,
    .grid-2 > .cell-mobile-2,
    .grid-2 > .padd-mobile-2 {
        width: 100.00%;
    }

    .grid-10 > .cell-mobile-1,
    .grid-10 > .padd-mobile-1 {
        width: 10.00%;
    }

    .grid-10 > .cell-mobile-2,
    .grid-10 > .padd-mobile-2,
    .grid-5 > .cell-mobile-1,
    .grid-5 > .padd-mobile-1 {
        width: 20.00%;
    }

    .grid-10 > .cell-mobile-3,
    .grid-10 > .padd-mobile-3 {
        width: 30.00%;
    }

    .grid-10 > .cell-mobile-4,
    .grid-10 > .padd-mobile-4,
    .grid-5 > .cell-mobile-2,
    .grid-5 > .padd-mobile-2 {
        width: 40.00%;
    }

    .grid-10 > .cell-mobile-6,
    .grid-10 > .padd-mobile-6,
    .grid-5 > .cell-mobile-3,
    .grid-5 > .padd-mobile-3 {
        width: 60.00%;
    }

    .grid-10 > .cell-mobile-7,
    .grid-10 > .padd-mobile-7 {
        width: 70.00%;
    }

    .grid-10 > .cell-mobile-8,
    .grid-10 > .padd-mobile-8,
    .grid-5 > .cell-mobile-4,
    .grid-5 > .padd-mobile-4 {
        width: 80.00%;
    }

    .grid-10 > .cell-mobile-9,
    .grid-10 > .padd-mobile-9 {
        width: 90.00%;
    }

    .grid-8 > .cell-mobile-1,
    .grid-8 > .padd-mobile-1 {
        width: 12.50%;
    }

    .grid-8 > .cell-mobile-3,
    .grid-8 > .padd-mobile-3 {
        width: 37.50%;
    }

    .grid-8 > .cell-mobile-5,
    .grid-8 > .padd-mobile-5 {
        width: 62.50%;
    }

    .grid-8 > .cell-mobile-7,
    .grid-8 > .padd-mobile-7 {
        width: 87.50%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    [class*="grid-"] {
        width: 100%;
    }

    [class*="grid-"] > [class*="cell-tablet"],
    [class*="grid-"] > [class*="padd-tablet"] {
        width: 0%; /* Hide unsupported cell sizes (for better debugging) */
        display: inline-block;
        float: left;

        margin: 0 auto;
        padding: 0;

        line-height: 1;
    }

    .grid-12 > .cell-tablet-1,
    .grid-12 > .padd-tablet-1 {
        width: 8.33%;
    }

    .grid-12 > .cell-tablet-2,
    .grid-12 > .padd-tablet-2,
    .grid-6 > .cell-tablet-1,
    .grid-6 > .padd-tablet-1 {
        width: 16.66%;
    }

    .grid-12 > .cell-tablet-3,
    .grid-12 > .padd-tablet-3,
    .grid-8 > .cell-tablet-2,
    .grid-8 > .padd-tablet-2,
    .grid-4 > .cell-tablet-1,
    .grid-4 > .padd-tablet-1 {
        width: 25.00%;
    }

    .grid-12 > .cell-tablet-4,
    .grid-12 > .padd-tablet-4,
    .grid-6 > .cell-tablet-2,
    .grid-6 > .padd-tablet-2,
    .grid-3 > .cell-tablet-1,
    .grid-3 > .padd-tablet-1 {
        width: 33.33%;
    }

    .grid-12 > .cell-tablet-5,
    .grid-12 > .padd-tablet-5 {
        width: 41.66%;
    }

    .grid-12 > .cell-tablet-6,
    .grid-12 > .padd-tablet-6,
    .grid-10 > .cell-tablet-5,
    .grid-10 > .padd-tablet-5,
    .grid-8 > .cell-tablet-4,
    .grid-8 > .padd-tablet-4,
    .grid-6 > .cell-tablet-3,
    .grid-6 > .padd-tablet-3,
    .grid-4 > .cell-tablet-2,
    .grid-4 > .padd-tablet-2,
    .grid-2 > .cell-tablet-1,
    .grid-2 > .padd-tablet-1 {
        width: 50.00%;
    }

    .grid-12 > .cell-tablet-7,
    .grid-12 > .padd-tablet-7 {
        width: 58.33%;
    }

    .grid-12 > .cell-tablet-8,
    .grid-12 > .padd-tablet-8,
    .grid-6 > .cell-tablet-4,
    .grid-6 > .padd-tablet-4,
    .grid-3 > .cell-tablet-2,
    .grid-3 > .padd-tablet-2 {
        width: 66.66%;
    }

    .grid-12 > .cell-tablet-9,
    .grid-12 > .padd-tablet-9,
    .grid-8 > .cell-tablet-6,
    .grid-8 > .padd-tablet-6,
    .grid-4 > .cell-tablet-3,
    .grid-4 > .padd-tablet-3 {
        width: 75.00%;
    }

    .grid-12 > .cell-tablet-10,
    .grid-12 > .padd-tablet-10,
    .grid-6 > .cell-tablet-5,
    .grid-6 > .padd-tablet-5 {
        width: 83.33%;
    }

    .grid-12 > .cell-tablet-11,
    .grid-12 > .padd-tablet-11 {
        width: 91.66%;
    }

    .grid-12 > .cell-tablet-12,
    .grid-12 > .padd-tablet-12,
    .grid-10 > .cell-tablet-10,
    .grid-10 > .padd-tablet-10,
    .grid-8 > .cell-tablet-8,
    .grid-8 > .padd-tablet-8,
    .grid-6 > .cell-tablet-6,
    .grid-6 > .padd-tablet-6,
    .grid-5 > .cell-tablet-5,
    .grid-5 > .padd-tablet-5,
    .grid-4 > .cell-tablet-4,
    .grid-4 > .padd-tablet-4,
    .grid-3 > .cell-tablet-3,
    .grid-3 > .padd-tablet-3,
    .grid-2 > .cell-tablet-2,
    .grid-2 > .padd-tablet-2 {
        width: 100.00%;
    }

    .grid-10 > .cell-tablet-1,
    .grid-10 > .padd-tablet-1 {
        width: 10.00%;
    }

    .grid-10 > .cell-tablet-2,
    .grid-10 > .padd-tablet-2,
    .grid-5 > .cell-tablet-1,
    .grid-5 > .padd-tablet-1 {
        width: 20.00%;
    }

    .grid-10 > .cell-tablet-3,
    .grid-10 > .padd-tablet-3 {
        width: 30.00%;
    }

    .grid-10 > .cell-tablet-4,
    .grid-10 > .padd-tablet-4,
    .grid-5 > .cell-tablet-2,
    .grid-5 > .padd-tablet-2 {
        width: 40.00%;
    }

    .grid-10 > .cell-tablet-6,
    .grid-10 > .padd-tablet-6,
    .grid-5 > .cell-tablet-3,
    .grid-5 > .padd-tablet-3 {
        width: 60.00%;
    }

    .grid-10 > .cell-tablet-7,
    .grid-10 > .padd-tablet-7 {
        width: 70.00%;
    }

    .grid-10 > .cell-tablet-8,
    .grid-10 > .padd-tablet-8,
    .grid-5 > .cell-tablet-4,
    .grid-5 > .padd-tablet-4 {
        width: 80.00%;
    }

    .grid-10 > .cell-tablet-9,
    .grid-10 > .padd-tablet-9 {
        width: 90.00%;
    }

    .grid-8 > .cell-tablet-1,
    .grid-8 > .padd-tablet-1 {
        width: 12.50%;
    }

    .grid-8 > .cell-tablet-3,
    .grid-8 > .padd-tablet-3 {
        width: 37.50%;
    }

    .grid-8 > .cell-tablet-5,
    .grid-8 > .padd-tablet-5 {
        width: 62.50%;
    }

    .grid-8 > .cell-tablet-7,
    .grid-8 > .padd-tablet-7 {
        width: 87.50%;
    }
}
@media only screen and (max-width: 991px){
    [class*="grid-"] {
        width: 100%;
    }

    [class*="grid-"] > [class*="cell-handheld"],
    [class*="grid-"] > [class*="padd-handheld"] {
        width: 0%; /* Hide unsupported cell sizes (for better debugging) */
        display: inline-block;
        float: left;

        margin: 0 auto;
        padding: 0;

        line-height: 1;
    }

    .grid-12 > .cell-handheld-1,
    .grid-12 > .padd-handheld-1 {
        width: 8.33%;
    }

    .grid-12 > .cell-handheld-2,
    .grid-12 > .padd-handheld-2,
    .grid-6 > .cell-handheld-1,
    .grid-6 > .padd-handheld-1 {
        width: 16.66%;
    }

    .grid-12 > .cell-handheld-3,
    .grid-12 > .padd-handheld-3,
    .grid-8 > .cell-handheld-2,
    .grid-8 > .padd-handheld-2,
    .grid-4 > .cell-handheld-1,
    .grid-4 > .padd-handheld-1 {
        width: 25.00%;
    }

    .grid-12 > .cell-handheld-4,
    .grid-12 > .padd-handheld-4,
    .grid-6 > .cell-handheld-2,
    .grid-6 > .padd-handheld-2,
    .grid-3 > .cell-handheld-1,
    .grid-3 > .padd-handheld-1 {
        width: 33.33%;
    }

    .grid-12 > .cell-handheld-5,
    .grid-12 > .padd-handheld-5 {
        width: 41.66%;
    }

    .grid-12 > .cell-handheld-6,
    .grid-12 > .padd-handheld-6,
    .grid-10 > .cell-handheld-5,
    .grid-10 > .padd-handheld-5,
    .grid-8 > .cell-handheld-4,
    .grid-8 > .padd-handheld-4,
    .grid-6 > .cell-handheld-3,
    .grid-6 > .padd-handheld-3,
    .grid-4 > .cell-handheld-2,
    .grid-4 > .padd-handheld-2,
    .grid-2 > .cell-handheld-1,
    .grid-2 > .padd-handheld-1 {
        width: 50.00%;
    }

    .grid-12 > .cell-handheld-7,
    .grid-12 > .padd-handheld-7 {
        width: 58.33%;
    }

    .grid-12 > .cell-handheld-8,
    .grid-12 > .padd-handheld-8,
    .grid-6 > .cell-handheld-4,
    .grid-6 > .padd-handheld-4,
    .grid-3 > .cell-handheld-2,
    .grid-3 > .padd-handheld-2 {
        width: 66.66%;
    }

    .grid-12 > .cell-handheld-9,
    .grid-12 > .padd-handheld-9,
    .grid-8 > .cell-handheld-6,
    .grid-8 > .padd-handheld-6,
    .grid-4 > .cell-handheld-3,
    .grid-4 > .padd-handheld-3 {
        width: 75.00%;
    }

    .grid-12 > .cell-handheld-10,
    .grid-12 > .padd-handheld-10,
    .grid-6 > .cell-handheld-5,
    .grid-6 > .padd-handheld-5 {
        width: 83.33%;
    }

    .grid-12 > .cell-handheld-11,
    .grid-12 > .padd-handheld-11 {
        width: 91.66%;
    }

    .grid-12 > .cell-handheld-12,
    .grid-12 > .padd-handheld-12,
    .grid-10 > .cell-handheld-10,
    .grid-10 > .padd-handheld-10,
    .grid-8 > .cell-handheld-8,
    .grid-8 > .padd-handheld-8,
    .grid-6 > .cell-handheld-6,
    .grid-6 > .padd-handheld-6,
    .grid-5 > .cell-handheld-5,
    .grid-5 > .padd-handheld-5,
    .grid-4 > .cell-handheld-4,
    .grid-4 > .padd-handheld-4,
    .grid-3 > .cell-handheld-3,
    .grid-3 > .padd-handheld-3,
    .grid-2 > .cell-handheld-2,
    .grid-2 > .padd-handheld-2 {
        width: 100.00%;
    }

    .grid-10 > .cell-handheld-1,
    .grid-10 > .padd-handheld-1 {
        width: 10.00%;
    }

    .grid-10 > .cell-handheld-2,
    .grid-10 > .padd-handheld-2,
    .grid-5 > .cell-handheld-1,
    .grid-5 > .padd-handheld-1 {
        width: 20.00%;
    }

    .grid-10 > .cell-handheld-3,
    .grid-10 > .padd-handheld-3 {
        width: 30.00%;
    }

    .grid-10 > .cell-handheld-4,
    .grid-10 > .padd-handheld-4,
    .grid-5 > .cell-handheld-2,
    .grid-5 > .padd-handheld-2 {
        width: 40.00%;
    }

    .grid-10 > .cell-handheld-6,
    .grid-10 > .padd-handheld-6,
    .grid-5 > .cell-handheld-3,
    .grid-5 > .padd-handheld-3 {
        width: 60.00%;
    }

    .grid-10 > .cell-handheld-7,
    .grid-10 > .padd-handheld-7 {
        width: 70.00%;
    }

    .grid-10 > .cell-handheld-8,
    .grid-10 > .padd-handheld-8,
    .grid-5 > .cell-handheld-4,
    .grid-5 > .padd-handheld-4 {
        width: 80.00%;
    }

    .grid-10 > .cell-handheld-9,
    .grid-10 > .padd-handheld-9 {
        width: 90.00%;
    }

    .grid-8 > .cell-handheld-1,
    .grid-8 > .padd-handheld-1 {
        width: 12.50%;
    }

    .grid-8 > .cell-handheld-3,
    .grid-8 > .padd-handheld-3 {
        width: 37.50%;
    }

    .grid-8 > .cell-handheld-5,
    .grid-8 > .padd-handheld-5 {
        width: 62.50%;
    }

    .grid-8 > .cell-handheld-7,
    .grid-8 > .padd-handheld-7 {
        width: 87.50%;
    }
}
