<nav>
  <center>
    <a href="/home"><button class="btn btn-primary"><span class="glyphicon glyphicon-home"></span><span class="hidden-xs"> Home</span></button></a>
    <a href="/articles/"><button class="btn btn-default"><span class="glyphicon glyphicon-list"></span><span class="hidden-xs"> Articles</span></button></a>
    <a href="/magic-article"><button class="btn btn-default"><span class="glyphicon glyphicon-flash"></span><span class="hidden-xs"> Magic!</span></button></a>
    <button class="btn btn-primary"><span class="glyphicon glyphicon-question-sign"></span><span class="hidden-xs"> Help</span></button>
  </center>
</nav>
