<!-- Main menu -->
<nav class="button-menu">
  <div class="container">
    <div class="grid-12">
      <div class="cell-3"><a href="/" class="btn menu-btn"><span class="icon-home"></span>&nbsp;&nbsp;Home</a></div>
      <div class="cell-3"><a href="/articles" class="btn menu-btn"><span class="icon-list"></span>&nbsp;&nbsp;Articles</a></div>
      <div class="cell-3"><a href="/search" class="btn menu-btn"><span class="icon-search"></span>&nbsp;&nbsp;Search</a></div>
      <div class="cell-3"><a href="/user/Pampa" class="btn menu-btn"><span class="icon-user"></span>&nbsp;&nbsp;About</a></div>
      <div class="clear"></div>
    </div>
  </div>
</nav>
