<nav>
  <a href="/home"><button class="btn btn-primary"><span class="glyphicon glyphicon-tower"></span> Home</button></a>
  <a href="/articles/"><button class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Articles</button></a>
  <a href="/magic-article"><button class="btn btn-default"><span class="glyphicon glyphicon-flash"></span> Magic!</button></a>
  <button class="btn btn-primary"><span class="glyphicon glyphicon-question-sign"></span> Help</button>
</nav>
