<nav>
  <center>
    <a href="/home"><button class="btn btn-primary" style="font-size:150%;"><span class="glyphicon glyphicon-home"></span><span class="hidden-xs"> Home</span></button></a>
    <a href="/articles/"><button class="btn btn-default" style="font-size:150%;"><span class="glyphicon glyphicon-list"></span><span class="hidden-xs"> Articles</span></button></a>
    <a href="/random-article"><button class="btn btn-default" style="font-size:150%;"><span class="glyphicon glyphicon-random"></span><span class="hidden-xs"> Random</span></button></a>
    <button class="btn btn-primary" style="font-size:150%;"><span class="glyphicon glyphicon-question-sign"></span><span class="hidden-xs"> Help</span></button>
  </center>
</nav>
