<!-- Main menu -->
<nav class="button-menu">
  <div class="container">
    <div class="grid-12">
      <div class="cell-3"><a href="/" class="btn menu-btn"><span class="icon-home"></span><span class="hidden-mobile">&nbsp;&nbsp;Home</span></a></div>
      <div class="cell-3"><a href="/articles" class="btn menu-btn"><span class="icon-list"></span><span class="hidden-mobile">&nbsp;&nbsp;Articles</span></a></div>
      <div class="cell-3"><a href="/search" class="btn menu-btn"><span class="icon-search"></span><span class="hidden-mobile">&nbsp;&nbsp;Search</span></a></div>
      <div class="cell-3"><a href="/user/Pampa" class="btn menu-btn"><span class="icon-user"></span><span class="hidden-mobile">&nbsp;&nbsp;About</span></a></div>
      <div class="clear"></div>
    </div>
  </div>
</nav>
