<!-- Main menu -->
<nav class="button-menu stick-bottom-mobile">
  <div class="container">
    <div class="grid-12">
      <div class="cell-2"><a href="/statistics" class="btn menu-btn"><span class="icon-stats"></span><span class="hidden-mobile">&nbsp;&nbsp;Statistics</span></a></div>
      <div class="cell-2"><a href="/articles" class="btn menu-btn"><span class="icon-list"></span><span class="hidden-mobile">&nbsp;&nbsp;Articles</span></a></div>
      <div class="cell-2"><a href="/users" class="btn menu-btn"><span class="icon-user"></span><span class="hidden-mobile">&nbsp;&nbsp;Users</span></a></div>
      <div class="cell-2"><a href="/reports" class="btn menu-btn"><span class="icon-signup"></span><span class="hidden-mobile">&nbsp;&nbsp;Reports</span></a></div>
      <div class="cell-2 hidden-mobile"><a href="/database" class="btn menu-btn"><span class="icon-cabinet"></span><span class="hidden-mobile">&nbsp;&nbsp;Database</span></a></div>
      <div class="cell-2 cell-mobile-4">
        <form method="POST" action="/logout">
          <button type="submit" class="btn menu-btn"><span class="icon-lock"></span><span class="hidden-mobile">&nbsp;&nbsp;Logout</span></button>
        </form>
      </div>

      <div class="clear"></div>
    </div>
  </div>
</nav>
