<!-- Main menu -->
<nav class="button-menu stick-bottom-mobile">
  <div class="container">
    <div class="grid-12">
      <div class="cell-2"><a href="/statistics" class="btn menu-btn"><span class="icon-stats"></span><span class="hidden-mobile">&nbsp;&nbsp;Statistics</span></a></div>
      <div class="cell-2"><a href="/articles" class="btn menu-btn"><span class="icon-newspaper"></span><span class="hidden-mobile">&nbsp;&nbsp;Articles</span></a></div>
      <div class="cell-1 hidden-mobile"><a href="/memos" class="btn menu-btn hint--bottom" data-hint="Memos"><span class="icon-notebook"></span></a></div>
      <div class="cell-1 cell-mobile-2"><a href="/users" class="btn menu-btn hint--bottom" data-hint="Users"><span class="icon-user"></span></a></div>
      <div class="cell-1 cell-mobile-2"><a href="/reports" class="btn menu-btn hint--bottom" data-hint="Reports"><span class="icon-signup"></span></a></div>
      <div class="cell-1 cell-mobile-2"><a href="/share" class="btn menu-btn hint--bottom" data-hint="Share"><span class="icon-share"></span></a></div>
      <div class="cell-1 hidden-mobile"><a href="/database" class="btn menu-btn hint--bottom" data-hint="Database"><span class="icon-cabinet"></a></div>
      <div class="cell-1 hidden-mobile"><a href="/log" class="btn menu-btn hint--bottom" data-hint="Logs"><span class="icon-indent-increase"></a></div>
      <div class="cell-2">
        <form method="POST" action="/logout">
          <button type="submit" class="btn menu-btn special"><span class="icon-lock"></span><span class="hidden-mobile">&nbsp;&nbsp;Logout</span></button>
        </form>
      </div>

      <div class="clear"></div>
    </div>
  </div>
</nav>
