<h2 class="inset content-title"><span class="icon-key"></span>&nbsp;&nbsp;Login</h2>

<div class="outset">
  <div class="outset-box">
    <form method="POST" action="/login">
      <input type="text" name="username" placeholder="Username..." />
      <input type="password" name="password" placeholder="Password..." />
      <button type="submit" class="btn">Login</button>
    </form>
  </div>
</div>
