<!-- Main menu -->
<nav class="button-menu stick-bottom-mobile">
  <div class="container">
    <div class="grid-12">
      <div class="cell-12"><a href="http://beta.pampattitu.de" class="btn menu-btn"><span class="icon-undo2"></span><span class="hidden-mobile">&nbsp;&nbsp;Back</span></a></div>

      <div class="clear"></div>
    </div>
  </div>
</nav>
